<main>
  <h2>News Articles</h2>
  <p class="source">Sourced from <a href="https://www.usatoday.com/">USA Today</a></p>

  <section class="news">
    {{#each articles}}
      <a class="article" href="/articles/{{_id}}">
        {{> article-block}}
      </a>
    {{/each}}
  </section>
</main>