<main>
  <h2>News Articles</h2>
  <p class="source">Sourced from <a href="https://www.usatoday.com/">USA Today</a></p>

  <section class="news">
    {{#each articles}}
      {{> article-block}}
    {{/each}}
  </section>
</main>