* {
  box-sizing: border-box;
  transition-duration: 1s;
  transition-property: width, height, opacity;
  transition-timing-function: ease;
}
/* --------------------------------
 * LAYOUT STYLING
 * -------------------------------- */
  body {
    display: flex;
      flex-flow: column;
      align-items: stretch;
      justify-items: center;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
  }
  header, main, footer {
    padding: 2em 0;
  }
  .container, main {
    margin: 0 auto;
    width: 80%;
      max-width: 960px;
  }

/* --------------------------------
 * TEXT STYLING
 * -------------------------------- */
  h1, h2, h3 {
    font-family: 'Jomolhari', serif;
    font-weight: bold;
  }
  h1 { font-size: 2.75em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.25em;}

  strong, b { font-weight: bold; }
  em, i { font-style: italic; }

/* --------------------------------
 * LINK STYLING
 * -------------------------------- */
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

/* --------------------------------
 * HEADER STYLING
 * -------------------------------- */
  header {
    background: #005580;
    color: #fff;
  }

/* --------------------------------
 * NAV STYLING
 * -------------------------------- */
  nav {
    background:  #004466;
    color: #eee;
  }
  nav a {
    color: #eee;
    display: inline-block;
    padding: 0.5em;
  }
    nav a:hover, nav a.active {
      background: rgba(0,0,0,0.25);
      color: #eee;
    }

/* --------------------------------
 * Footer STYLING
 * -------------------------------- */
  footer {
    background: #333;
    color: #fff;
    margin-top: auto;
  }

/* --------------------------------
 * HOME ARTICLES STYLING
 * -------------------------------- */
  .news {
    display: flex;
      flex-wrap: wrap;
  }
  .news article {
    border: 1px solid #ccc;
      border-radius: 0.5em;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
    margin: 2em 0;
      margin-right: 5%;
    padding: 1em;
    width: 30%;
  }
  .news article:nth-of-type(3) {
    margin-right: 0;
  }
    article h3 {
      line-height: 1.3em;
      margin: 1rem 0;
    }
    .source {
      margin-top: 1em;
    }

/* --------------------------------
 * SINGLE ARTICLE STYLING
 * -------------------------------- */
  #article {
    margin-bottom: 2em;
  }
  article {
    line-height: 1.5em;
  }

/* --------------------------------
 * COMMENTS STYLING
 * -------------------------------- */
  .comments form {
    background: #eee;
    display: flex;
      flex-flow: column;
    padding: 1em;
  }
  .comments input, 
  .comments textarea,
  .comments button {
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding:  0.5em;
  }
  .comments button {
    margin-bottom: 0;
  }
  .comments textarea {
    min-height: 15em;
  }

  .comments .comment {
    border: 1px solid #bbb;
      border-radius: 0.5em;
    margin: 1em auto;
    padding: 1em;
  }
  .comments .poster {
    border-bottom: 1px solid #bbb;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
  .comments p {
    margin-bottom: 1em;
  }